<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application>
        <!-- 透明Activity，用于监听支付生命周期 -->
        <activity
            android:name=".ui.PaymentLifecycleActivity"
            android:theme="@style/Theme.PaymentCore.Transparent"
            android:launchMode="singleTask"
            android:exported="false" />
    </application>

</manifest>